{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h4><strong>компенсаторы сильфонные</strong></h4><br /><br />
        <img src="{{ asset('img/expantion-joints/expantion-joints-1.jpg') }}" alt="компенсаторы сильфонные" class="img-thumbnail">
        <p>Осевые компенсаторы используются для поглощения теплового расширения, возникающего вдоль оси трубы. Трубопроводные системы разделяются компенсаторами на участках между неподвижными опорами. Таким образом, смещение трубы, которое возникло из-за расширения, поглощается с помощью металлического сильфонного компенсатора, установленного на данном участке трубопровода.</p>
        <p>Осевые компенсаторы <em>изготавливаются </em>со стандартным смещением 30 и 60 мм. Линейные втулки используют в качестве опции с целью разделения потока жидкости и сильфона компенсатора, чтобы сделать поток однородным. </p>
        <p><strong>Соединения:</strong><br />
            подвижный фланец<br />
            фиксированный фланец<br />
            соединение под приварку</p>
        <p><strong>Материалы:</strong><strong><br />
            </strong>сильфоны и втулки из нержавеющей стали в соответствии с DIN 1744, фитинги изготавливаются из углеродистой или нержавеющей стали. </p>
        <p><strong>Номинальный диаметр</strong>: <br />
            DN 25 (1 ") - DN 500 (20") </p>
        <p><strong>Значения (величины) давления: </strong></p>
        <p>PN16</p>
        <p><strong>Диапазон температур: </strong><strong><br />
            </strong>В зависимости от материала – от -196 °С до + до 600 ° C </p>
        <p><strong>Применение:</strong> <br />
            Все виды теплового и механического расширения трубопровода.</p>
    </div>
{% endblock %}

