{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <p>Сайт <strong>interprom.kiev.ua</strong> створений для подальшого розвитку наданих товарів в Україні.</p>
        <p>Наявність кваліфікованих спеціалістів, відпрацьована служба доставки надасть Вам, нашим покупцям, особливі умови.</p>
        <p><em>Вдалих вам покупок!</em></p>
        <p>КОНТАКТИ</p>
        <p>Телефон в Києві: (044) 360-68-17, 360-74-21                </p>
        <p>                     МТС - (050) 154-87-57, (050) 545-63-09</p>
        <p>                    КИЇВСТАР - (096) 482-43-52</p>
        <p>                    LIFE - (063) 410-93-90</p>
        <p>Час роботи: пн-пт, с 9-00 до 19-00</p>
        <p>ИНФОРМАЦІЙНА СЛУЖБА</p>
        <p>У випадку, якщо Ви не знайшли на сайті товару, який Вас цікавить, зателефонуйте та уточніть наявність в робітника компанії. Можливо товар ще не добавлений до бази на сайті.</p>
        <p>E-mail: <a href="&#109;a&#105;l&#116;&#111;:&#114;&#111;&#115;&#116;&#116;&#107;&#97;&#99;&#104;&#64;&#104;&#111;&#116;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Отправить письмо</a>
        </p>
        <p>ПІДТРИМКА САЙТУ</p>
        <p>Якщо Ви и виявили неточність на сайті - перешліть цю інформацію в службу підтримки сайту.</p>
        <p>E-mail: <a href="&#109;a&#105;l&#116;&#111;:&#114;&#111;&#115;&#116;&#116;&#107;&#97;&#99;&#104;&#64;&#104;&#111;&#116;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Отправить письмо</a>
        </p>
    </div>
{% endblock %}

