{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <p><strong>Шланги / Рукава</strong><br/><br/>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="img/hose/hose-water-and-air.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Рукава для воды и воздуха</h5>
        <p class="card-text">Для транспортировки воды, сжатого воздуха, пищевых продуктов.</p>
    </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/hose/hose-ventiliacia.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Рукава для пневмотранспорта и вентиляции</h5>
            <p class="card-text">Для нагнетания, всасывания абразивных порошков,
                гранулята, испарений, стружки, паров, а также для транспортировки пищевых продуктов.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/hose/hose-garden.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Рукава для сельского хозяйства</h5>
            <p class="card-text">Для орошения, подачи удобрений, инсектицидов, кислот, растворов.</p>
        </div>
    </div>
    </div>
    <br>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="img/hose/hose-food.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Рукава для пищевых продуктов</h5>
                <p class="card-text">Для вина, алкогольных напитков, спирта, фруктовых соков, безалкогольных напитков,
                    масло- и жиросодержащих пищевых продуктов,
                    молока и молочных продуктов, кислот и химикатов</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/hose/hose-chemical.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Рукава для кислот и щелочей</h5>
                <p class="card-text">для всасывания и нагнетания кислот и химикатов.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/hose/hose-fuel.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Рукава для нефтепродуктов</h5>
                <p class="card-text">для нефтепродуктов напорно-всасывающие.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
